@import '../../variables';

.Header {
  background-color: $header-background;
  padding: 30px 10px 50px 10px;
  text-align: center;
  margin: 6px 6px 6px 6px;
}

.settings {
  text-align: center;
  position: absolute;
  top: 15px;
  right: 20px;
  border: none;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  font-size: 9px;
}

.Header-Title {
  font-family: "Bungee Shade", sans-serif;
  font-size: 48px;
  color: white;
}


.input-number {
  width: 30px;
  height: 40px;
  font-size: 25px;
  border-radius: 8px;
}
