@import 'variables';
@import 'reset';

body {
  font-family: $body-font;
  background-color: $background;
  color: white;
}

.random-joke {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid white;
  border-style: dotted;
}
